/* ================== Base styles ================== */

body {
	background: #333;
	font-family: 'Neucha', cursive;
	font-size: 18px;
	-webkit-transition: background 0.5s ease;
	transition: background 0.5s ease;

}

h1 {font-size: 64px;}

h1,
.control button,
.control button:hover,
.control button:focus {
	color: #FFF;
	text-shadow: 0px 3px 7px rgba(0,0,0,0.3);
}

.panel {box-shadow: 0px 5px 10px rgba(0,0,0,0.5);}

.form-control {font-size: 18px;}
.form-control:focus {
	border-color: #CCC;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 0 8px rgba(0,0,0,.1);
}

.btn-primary {border: none;}
.btn-primary:hover {opacity: 0.9;}

:focus {outline-color: transparent !important;}
::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {background: transparent;}
::-webkit-scrollbar-thumb {background: #FFF;}

/* ================== Task styles ================== */

.task-item {
	position: relative;
	cursor: pointer;
	padding: 10px 50px;
}
.task-item:before,
.task-close {
	width: 20px;
	height: 20px;
	padding-left: 1px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 100;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	border-radius: 3px;
}
.task-item:before {
	content: '';
	font-family: 'FontAwesome';
	display: block;
	left: 15px;
	border: 2px solid #999;
}
.tasks-done .task-item:before {
	content: "\f00c";
	background: #999;
	color: #FFF;
	font-size: 15px;
	line-height: 17px;
}
.task-close {
	right: 15px;
	color: #CCC;
}
.task-close:hover {
	background: #CC0000;
	color: #FFF !important;
}
.tasks-done .task-item {
	opacity: 0.5;
	text-decoration: line-through;
}
.tasks-done .task-item:hover {opacity: 1;}

/* ================== Modal styles ================== */

.modal-content {overflow: hidden;}
.modal-header {
	color: #FFF;
	border-bottom: 0;
}

.color-label {
	display: block;
	width: 100%;
	height: 50px;
	padding: 0 !important;
	margin-bottom: 10px !important;
	text-align: center;
}
.color-label:hover {opacity: 0.9;}
.color-label i {
	display: none;
	color: #FFF !important;
	line-height: 50px;
	font-size: 24px;
}
.color-radio:checked + .color-label i {
	display: inline;
}

/* ================== Color styles ================== */

body.color01,
.color01 .modal-header,
.color01 .btn-primary, .color01 .btn-primary:focus, 
.color01 .tasks-done .task-item:before {background: #b24436;}
.color01 h3, .color01 .task-close {color: #b24436;}
.color01 .task-item:before {border-color: #b24436;}

body.color02,
.color02 .modal-header,
.color02 .btn-primary, .color02 .btn-primary:focus, 
.color02 .tasks-done .task-item:before {background: #996c4c;}
.color02 h3, .color02 .task-close {color: #996c4c;}
.color02 .task-item:before {border-color: #996c4c;}

body.color03,
.color03 .modal-header,
.color03 .btn-primary, .color03 .btn-primary:focus, 
.color03 .tasks-done .task-item:before {background: #397360;}
.color03 h3, .color03 .task-close {color: #397360;}
.color03 .task-item:before {border-color: #397360;}

body.color04,
.color04 .modal-header,
.color04 .btn-primary, .color04 .btn-primary:focus, 
.color04 .tasks-done .task-item:before {background: #364459;}
.color04 h3, .color04 .task-close {color: #364459;}
.color04 .task-item:before {border-color: #364459;}

body.color05,
.color05 .modal-header,
.color05 .btn-primary, .color05 .btn-primary:focus, 
.color05 .tasks-done .task-item:before {background: #41364c;}
.color05 h3, .color05 .task-close {color: #41364c;}
.color05 .task-item:before {border-color: #41364c;}

body.color06,
.color06 .modal-header,
.color06 .btn-primary, .color06 .btn-primary:focus, 
.color06 .tasks-done .task-item:before {background: #333333;}
.color06 h3, .color06 .task-close {color: #333333;}
.color06 .task-item:before {border-color: #333333;}
