doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title TodoList
  body.bg-primary
    main#app
    script(src='./index.js')
